{% extends "layout.html" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <section id="home">
        <h1>This is a test of a relative link</h1>
        <a href="{{ url_for('home') }}"> Link To home</a>
        <p>This is a modern, mobile-friendly website template using PicoCSS.</p>
    </section>
    <section id="about">
        <h2>About Us</h2>
        <p>Learn more about our mission and values.</p>
    </section>
    <section id="services">
        <h2>Our Services</h2>
        <p>Check out the services we offer.</p>
    </section>

    <fieldset>
        <label>
            <input id="reveal-login-code" name="reveal" type="checkbox" role="switch" />
            Reveal Login Code
        </label>
        </fieldset>
    <input type="text" id="login-code" name="text" class="space-mono-regular" value="*******" aria-label="Read-only input" readonly >

    <script>
        // JavaScript to handle the switch toggle
        document.getElementById("reveal-login-code").addEventListener("change", function() {
            const inputField = document.getElementById("login-code");
            if (this.checked) {
                inputField.value = "AP8F7Q7";
            } else {
                inputField.value = "*******";
            }
        });
    </script>

    <section id="contact">
        <h2>Contact Us</h2>
        <p>Get in touch with us here.</p>
    </section>
</main>
{% endblock %}