{% extends "layout.html" %}

{% block content %}
<!-- Main Content -->
<main class="container">


<style>
    .circle {
        width: 300px; /* Diameter of the circle */
        height: 300px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0 4px 10px rgba(172, 42, 42, 0.733); /* Optional for aesthetics */
        padding-top: 10%;
        padding-bottom: 20%; 
    }

    .circle img {
        width: 60vw; /* 30% of the viewport width */
        transform: rotate(225deg); /* Rotate the image 30 degrees */
        display: block;
        margin: 20px auto; /* Center the image */
    }

</style>


<div class="circle">
    <img src="data:image/png;base64,{{ qr_code }}" alt="QR Code">
</div>


{% endblock %}