{% extends "layout.html" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <h1>Welcome {{ username }}</h1>
    <section>

        <h3>1. Save your Login Code</h3>
        <input type="text" class="big-login-code-display" value="{{ login_code }}" aria-label="Read-only input" readonly>
        <p>Take a screenshot or write down your Login Code. You'll need it if you get logged out.</p>

        <h3>2. Discover more Locations</h3>
        <p>Scan more locations to add them to your collection. Check the leaderboard to see who's found the most</p>
    </section>
</main>
{% endblock %}