-i https://pypi.python.org/simple/
flask==3.1.0
pymongo==4.10.1
pydantic==2.10.6

qrcode==8.0
pillow==11.1.0
reportlab==4.3.0
tzdata==2025.1

# This is only used during testing
python-dotenv==1.0.1 

# WSGI
# This isn't needed for testing, but
# the container will fail without it
gunicorn==22.0.0
