import os


class Config(object):
    MONGO_URI = "your mongo connection string"
    MONGO_CERT_PATH = "/path/to/your/cert"
    DATABASE_NAME = 'your database name'

    COOKIE_ENCRYPTION_KEY = "your+32byte+key+C9AMtiuckzxVElvfPcYmy2YA4Kc="

