
/* This is used for displaying the login code */
.big-login-code-display {
    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 1.6rem;
}

/* These are related to the flashed message */
.flash-success {
    --pico-border-color: var(--pico-form-element-valid-border-color);
    border: var(--pico-border-width) solid var(--pico-border-color);

    background-image: var(--pico-icon-valid);
    background-position: center right .75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
}
.flash-error {
    --pico-border-color: var(--pico-color-amber-300);
    border: var(--pico-border-width) solid var(--pico-border-color);
}

.flash-info {
    --pico-border-color: var(--pico-color-azure-550); /* this color should be changed */
    border: var(--pico-border-width) solid var(--pico-border-color);
}

.flash-warning {
    --pico-border-color: var(--pico-color-orange-450);
    border: var(--pico-border-width) solid var(--pico-border-color);

    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(231,75,26)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='12'%3E%3C/line%3E%3Cline x1='12' y1='16' x2='12.01' y2='16'%3E%3C/line%3E%3C/svg%3E");
    background-position: center right .75rem;
    background-size: 1rem auto;
    background-repeat: no-repeat;
}

/* This is to add animation to flyout modal popups */
@keyframes slideInFromAbove {
    from {
        transform: translateY(-50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOutToAbove {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(-50%);
        opacity: 0;
    }
}

dialog[open] {
    animation: slideInFromAbove 0.5s ease forwards;
}

dialog.closing {
    animation: slideOutToAbove 0.5s ease forwards;
}