{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <h1 class="admin-interface-gradient">Admin Home</h1>

    <p>Not really sure what this page is going to be for. It's just a placeholder for now.</p>
</main>

{% endblock %}