{% extends "admin_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <section id="home">
        <h1>Admin Leaderboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location ID</th>
                </tr>
            </thead>
            <tbody>
                {% for loc in locations %}
                <tr>
                    <td>
                    <img
                        src="{{ url_for('static',filename='uploads/' + loc.imageFile) }}"
                        alt="{{ loc.fullName }} thumbnail"
                        style="width:40px; height:auto; margin-right:8px; vertical-align:middle;"
                        >
                    <a href="{{url_for('location_bp_x.location',loc_slug=loc.slug)}}">{{ loc.fullName }}</a>
                    </td>
                    <td><span class="fixed-width-text">{{ loc.locationID }}</span></td>
                    <td><a class="secondary">Delete</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

{% endblock %}