{% extends "admin_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <h1>Settings</h1>

    <article>
        <header><strong>I'm not really sure what this page is for<strong></header>
        <p>???</p>
        <p></p>
    </article>
</main>

{% endblock %}