{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <h2>Suspected Duplicate Users</h2>
    <table>
        <thead>
            <tr>
                <th>Fingerprint</th>
                <th>User ID</th>
                <th>Friendly Name</th>
            </tr>
        </thead>
        <tbody>
            {% for u in users %}
            <tr>
                <td>{{ u.fingerprint }}</td>
                <td>{{ u.userID }}</td>
                <td>{{ u.friendlyName }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</main>
{% endblock %}