<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" type="image/x-icon"
      href="{{ url_for('static',filename='favicon.png') }}">    
    <title>GACKquest</title>
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css">
    <link rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet"
      href="{{ url_for('static',filename='pico_addons.css')}}">
</head>
<body>
    <!-- Header and Navigation -->
    <header class="container" style="padding-top: 0px; padding-bottom: 0px;">
        <nav>
            <ul>
                <li><strong><a href="{{ url_for('menu_bp_x.index') }}">GACKquest: How to Play</a></strong></li>
            </ul>
          </nav>
          <nav>
          <ul></ul>
            <ul>
                <li><a class="normal-interface" href="{{ url_for('menu_bp_x.settings') }}">Settings</a></li>
                <li><a class="normal-interface" href="{{ url_for('menu_bp_x.locations') }}">Locations</a></li>
                <li><a class="normal-interface" href="{{ url_for('menu_bp_x.leaderboard') }}">Leaderboard</a></li>
                <li><a class="normal-interface" href="{{ url_for('menu_bp_x.gackcoin') }}">GACKcoin</a></li>
            </ul>
        </nav>
        {% if g.user.admin %}
        <nav>
          <ul>
              <li><a class="admin-interface" href="{{ url_for('admin_bp_x.newlocation') }}">NewLocation</a></li>
              <li><a class="admin-interface" href="{{ url_for('admin_bp_x.admin_locations') }}">Locations</a></li>
              <li><a class="admin-interface" href="{{ url_for('admin_bp_x.admin_users') }}">Users</a></li>
              <li><a class="admin-interface" href="{{ url_for('admin_bp_x.dupe') }}">Dupes</a></li>
          </ul>
        </nav>
        {% endif %}
    </header>

    <main class="container">

        <!-- Flashed Messages -->
        {% include "_flash.jinja2" %}

        <!-- Content -->
        {% block content %}
        <p>This is the default content.</p>
        {% endblock %}
    </main>

{% block scripts %}
{% endblock %}
</body>
</html>
