<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark" />
    <link rel="icon" type="image/x-icon" href="/static/favicon.png">    
    <title>Modern Mobile Website with PicoCSS</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.slate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.colors.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='pico_addons.css') }}">
</head>
<body>
<!-- Main Content -->
<main class="container">
    {% include "_flash.jinja2" %}    
    <h1>Log in</h1>

    <form action="{{url_for('registration_bp_x.new_login')}}" method="POST">
        <input type="text" name="password" placeholder="Enter your password" required>
        <button type="submit" id="submitBtn">Login</button>
    </form>
     <br>
    <p>Don't have an account yet? --> <a class="secondary" href="{{ url_for('registration_bp_x.signup')}}">Create an account</button></p>

</main>
</body>
</html>