{% extends "unauth_layout.jinja2" %}

{% block content %}
<main class="container">
    <h1>Welcome</h1>
    {% if allow_signups %}
    <p>Pick a name to save your progress and start your adventure.</p>
    
    <form id='new_user_form' action="{{ url_for('registration_bp_x.newuser') }}" method="POST">
        <label for="username">What's your adventuring name?</label>
        <input type="hidden" name="userdata" id="extradata">
        <input type="text" maxlength="20" id="username" name="new_username" placeholder="Enter a username" required>
        <small>Usernames only use letters, numbers, and underscores.</small>
        <label for="password">Choose a password. You'll need to remember this in case you get logged out.</label>
        <input type="text" minlength="2" id="password" name="password" placeholder="Choose a password" required>
        {% include "_flash.jinja2" %}
        <button type="submit" id="submitBtn" disabled>Create Account</button>
    </form>
    {% else %}
    <p>Sorry, new accounts are not currently being accepted.</p>
    {% endif %}
    <br>
    <a class="secondary" href="{{ url_for('registration_bp_x.login')}}">I already have an account</a>
</main>

<script>
    const usernameInput = document.getElementById("username");
    const usernameCharacterError = document.getElementById("usernameCharacterError");
    const usernameLengthError = document.getElementById("usernameLengthError");
    const submitBtn = document.getElementById("submitBtn");

    usernameInput.addEventListener("input", () => {
        if ( /^[a-zA-Z0-9_]+$/.test(usernameInput.value) ) {
            usernameInput.setAttribute("aria-invalid", "false");
            // Disable the submit button if less than 3 chars entered
            submitBtn.disabled = usernameInput.value.length < 3;
        } else {
            usernameInput.setAttribute("aria-invalid", "true");
            submitBtn.disabled = true;
        }

        // Don't show valid or invalid if no characters have been entered yet
        if ( usernameInput.value.length === 0 ) {
            usernameInput.removeAttribute("aria-invalid");
            submitBtn.disabled = true;
        }

    });

    document.getElementById("new_user_form").addEventListener("submit", function(event) {
        const key = "j0MRCojPAS7aGowN83OB"
        let storedValue = localStorage.getItem(key)

        if (!storedValue) {
            storedValue = "{{ localStorageData }}"
            localStorage.setItem(key,storedValue)
        }

        document.getElementById("extradata").value = storedValue;
    });

</script>

{% endblock %}