{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
    <section id="home">
      {% if visit_status == "discovered" %}
        <span class="tag tag-discovered">Discovered</span>
      {% elif visit_status == "solved" %}
        <span class="tag tag-solved">Solved</span>
      {% else %}
        <span class="tag tag-undiscovered">Undiscovered</span>
      {% endif %}
      <h1>{{ loc.fullName }}</h1>
      <style>

      .tag {
        padding: 3px 8px;
        font-size: 0.75rem;
        border-radius: 5px 0 0 0;
      }

      .tag-undiscovered {
        background-color: gray;
        color: white;
      }

      .tag-discovered {
        background-color: silver;
        color: black;
      }

      .tag-solved {
        background-color: gold;
        color: black;
      }
      </style>


      <img src="{{ url_for('static',filename='uploads/' + loc.imageFile) }}">
        
    </section>
    <section id="details">
        <p>{{ loc.description}} </p>
        <article>
            <header>{{ loc.puzzleText }}</header>
              {% if visit_status == 'discovered' %}
                <form id="puzzle-form">
                    <fieldset style="margin-bottom:0px;" role="group">
                    <input
                      id="guess_input"
                      type="text"
                      name="guess"
                      placeholder="Enter your guess..."
                      required
                    />
                    <input 
                      type="hidden"
                      name ="slug"
                      value="{{ loc.slug }}" />
                    <input type="submit" value="Submit" />
                    </fieldset>
                </form>
                <footer id="feedback" aria-live="polite"></footer>
              {% elif visit_status == 'solved' %}
                <input type="text" id="login-code" name="text" class="big-login-code-display" value="******" aria-label="Read-only input" readonly >
                <input id="reveal-login-code" name="reveal" type="checkbox" role="switch" />
                Reveal
              {% endif %}
        </article>
    </section>
{% endblock %}

{% block scripts %}
<script>
{% if visit_status == 'solved' %}
// JavaScript to handle the reveal-login-code toggle switch
document.getElementById("reveal-login-code").addEventListener("change", function() {
    const inputField = document.getElementById("login-code");
    if (this.checked) {
        inputField.value = "{{ loc.puzzleAnswer }}";
    } else {
        inputField.value = "******";
    }
});
{% endif %}

document.addEventListener('DOMContentLoaded', function () {
  const form = document.getElementById('puzzle-form');
  const feedbackEl = document.getElementById('feedback');
  const guessInput = document.getElementById('guess_input');


  form.addEventListener('submit', function (event) {
    event.preventDefault();

    // Gather the form data.
    const formData = new FormData(form);

    // Send a POST request to the server.
    fetch('{{ url_for("location_bp_x.validate_guess") }}', {
      method: 'POST',
      body: formData,
      headers: {
        'X-Requested-With': 'XMLHttpRequest'
      }
    })
    .then(response => {
      if (!response.ok) {
        throw new Error("Network response was not ok");
      }
      return response.json();
    })
    .then(data => {
      
      guessInput.value = '';
      if (data.correct) {
        feedbackEl.textContent = "Correct!";
        feedbackEl.style.color = "green";

        // Reload the page after 7/10 of a second.
        setTimeout(function() {
            location.reload();
        }, 700);
      } else if (data.error) {
        feedbackEl.textContent = data.error;
        feedbackEl.style.color = "red";
      } else {
        feedbackEl.textContent = "[" + data.guess + "] is not correct. Try again.";
        feedbackEl.style.color = "#b7612e";
      }
    })
    .catch(error => {
      console.error("Error:", error);
      feedbackEl.textContent = "There was an error processing your request.";
      feedbackEl.style.color = "red";
    });
  });
});
</script>
{% endblock %}