{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <section id="home">
        <h1>404</h1>
        <h3>Location not found<h3>
        <div class="location-image-container">
        <img src="{{ url_for('static',filename='dangan_map_404.jpg') }}"
        class="square-img"></div>
    </section>
    <section id="details">
        <p>We couldn't find a location using that QR code or link. Try scanning again. If it still doesn't work, contact support.</p>
    </section>
</main>
{% endblock %}