{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <section id="home">
        <h1>??? Unknown ???</h1>
        <div class="location-image-container">
        <img src="{{ url_for('static',filename='dangan_map_404.jpg') }}"
        class="square-img"></div>
    </section>
    <section id="details">
        <p>Either you haven't discovered this location yet or it doesn't exist.</p>
    </section>
</main>
{% endblock %}