{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <h1 class="title-gradient">You have <span id="coinCount" class="fixed-width-text">{{ user.coins }}</span> Gackcoin</h1>
    <p>You can show this code to Grayson, Ariel, Carl, or Kat to exchange for physical GACKcoin.</p><p>Other players can scan this code to send you GACKcoin.</p>

    <div class="circle-container">
        <img src=" {{ url_for('menu_bp_x.create_qr', ephemeralID = eID) }}" alt="Example Image">
    </div>
</main>
<style>
    /* The container circle dimensions are calculated so that the image's corners
       (rotated 45deg) just touch its edge. For a 150px square, the circle's diameter should be about */
    .circle-container {
        width: 282px;
        height: 282px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px auto; /* centers the circle horizontally */
    }
    .circle-container img {
        width: 200px;
        height: 200px;
        transform: rotate(225deg);
    }
</style>

<script>
coinCount = document.getElementById('coinCount');
function updateCoins() {
    fetch('/get_coin_count') // Replace with your actual API route
        .then(response => response.json())
        .then(data => {
            coinCount.textContent = data.coin_count;
        })
        .catch(error => console.error('Error fetching coin count:', error));
}

// update every 0.6 seconds
// Hope this isn't a mistake
setInterval(updateCoins, 600);



</script>
{% endblock %}
