{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
<h1 class="title-gradient">Homepage</h1>

<p>Hypothetically there should be some rules explaination here or something.</p>
</main>

<style>
/* Gradient Styles */




</style>

{% endblock %}