{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
homepage

<p>Hypothetically there should be some rules explaination here or something.</p>
</main>
{% endblock %}