{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
<h1 class="title-gradient">Welcome to GACKquest</h1>

<p>In this game, you discover loctaions all around the house then attempt to solve their quests. The answers to quests are not case-sensitive and can contain letters and numbers.</p>
<p>Please screenshot or write down user Login Code on the settings page. If you get logged out (which hypothetically shouldn't happen), you can use this code to log back in.</p>
<p>Whenever you solve a location for the first time, you recieve <span class="normal-interface">one GACKcoin</span>. You can trade this to other players or cash it out.</p>
<p>The leaderboard shows the top players. The scoring is:
<ul>
  <li>+2 point for discovering a new location</li>
  <li>+3 point for solving a location (5 total)</li>
</ul></p>
<p>Good luck!</p>
<h3>Rules</h3>
<ul>
  <li>There are <b>no rules against sharing answers</b>, but please try to not spoil others who are excited to solve quests themselves.</li>
  <br>
  <li>Please <b>do not create multiple accounts</b>. The measures I would have to take to prevent multi-accounting would not be very fun, so honor system.</li>
  <br>
  <li>Want to hack the site? Bring it on 😈. <a href="https://github.com/cbahn/qrest">Here's the source code</a>. But please don't mess with anybody's phone or do anything that would interfere with the ongoing game; I'll give you a bug bounty of GACKcoin if you bring your findings to me! - Carl</li>
</ul>  
</main>

<style>
/* Gradient Styles */




</style>

{% endblock %}