{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <section id="home">
        <h1 class="title-gradient">Leaderboard</h1>
        <p>This is sorta working, but not done yet.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Count</th>
                </tr>
            </thead>
            <tbody>
                {% for l in leaderboard_data %}
                <tr>
                    <td>{{ l.friendlyName }}</td>
                    <td>{{ l.visit_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>
{% endblock %}