{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <section id="home">
        <h1 class="title-gradient">Leaderboard</h1>
        <p>Each discovered location is worth 1 point and each solved location is worth 3 points.</p>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                {% for l in leaderboard_scores %}
                <tr>
                    <td class="{% if loop.index == 1 %}gold{% elif loop.index == 2 %}silver{% elif loop.index == 3 %}bronze{% endif %}">{{ l.friendlyName }}</td>
                    <td>{{ l.points }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
</main>

<style>
.gold {
    color: gold;
    font-weight: bold;
}

.silver {
    color: silver;
    font-weight: bold;
}

.bronze {
    color: #cd7f32;
    font-weight: bold;
}
</style>

{% endblock %}