{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
  <section id="home">
    <h1>Locations</h1>
    <p>Places you found.</p>

    {% if locations %}
    <table role="grid">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for loc in locations %}
        <tr>
          <td>
            <a href="{{ url_for('loc_info',loc_slug = loc.slug) }}">
              {{ loc.friendlyName }}
            </a>
          </td>
          <td>Discovered</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>You haven't found any locations 🤣.</p>
    {% endif %}
  </section>
</main>
{% endblock %}