{% extends "menu_layout.jinja2" %}

{% block content %}
<main class="container">
  <section id="home">
    <h1 class="title-gradient">Discovered Locations</h1>
    <table>
      <thead>
        <tr>
          <th style="padding-left:0px;">Name</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        {% for visit in locations %}
        <tr>
          <td style="padding-left:0px;">
            <img src="{{ url_for('static', filename='uploads/' ~ visit.loc.imageFile) }}"
                 style="width:40px; height:auto; margin-right:8px; vertical-align:middle;">
            <a href="{{ url_for('location_bp_x.location', loc_slug=visit.loc.slug) }}">{{ visit.loc.fullName }}</a>
          </td>
          <td>
            {{ visit.visit_type }}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
</main>

{% endblock %}