{% extends "menu_layout.jinja2" %}

{% block content %}
<!-- Main Content -->
<main class="container">
    <h1 class="title-gradient">Transfer GACKcoins</h1>
    
    <p>You have <b class="normal-interface">3</b> GACKcoin available to send.</p>
    <form id="deductCoinsForm">
        <p>Recipient: <span class="fixed-width-text normal-interface">{{ them.friendlyName }}</span></p>
        <input type="number" id="coin_amount" name="coin_amount" min="1" required>
        <button type="submit">Send <span>3</span> GACKcoin</button>
    </form>

    <!-- Modal for success message -->
    <dialog id="coinModal">
        <article>
            <p id="coinMessage"></p>
            <footer>
                <button id="closeModal">OK</button>
            </footer>
        </article>
    </dialog>
</main>

{% endblock %}
